ul {
	list-style: none;
  margin: 0;
  padding: 0;
  }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
  font-family: 'Open Sans', sans-serif;
}


@media (min-width: 1200px){
 .index{
    
    background: url("../img/fondesktop.jpg") no-repeat;
    background-position: top center;
  }

 body {
    
    width: 1200px;
    margin: 0 auto;
 }

 .pinkphoto{
    background: url("../img/back-desktop.jpg") no-repeat;
    background-position: top center;
}
  p{
    padding: 0;
    margin: 0;
 }

}